POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
API_User=
API_Password=
#make sure to fill in appuser,apppasword, and appdb with the above postgres variables
DATABASE_URL=postgresql://appuser:apppassword@db:5432/appdb